
.navbar{
    background-color: #f9f9f9;
}
.navbar-brand{
    
    opacity: 0.5;
}
.navbar-brand:hover{
    
    opacity: 1;}   
    body, html {
        height: 100%;
    }
    /* Cover */
    .cover {
      /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/564x/9a/82/8d/9a828d0fc00a2540d35339e3aba5bfcc.jpg");
      /* Altura cover */
      height: 100%;
      /* Posição cover*/
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    /* Texto cover */
    .cover-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    /* fonte  */
    h1{font-family: "Times New Roman", Times, serif;}
    h2{font-family: "Times New Roman", Times, serif;}
    h3{color: rgb(196, 179, 154);
      font-family: "Times New Roman", Times, serif;}
    h4{color: rgb(196, 179, 154);
      font-family: "Times New Roman", Times, serif;}
    h5{color: rgb(196, 179, 154);
      font-family: "Times New Roman", Times, serif;}
    h6{color: rgb(196, 179, 154);
      font-family: "Times New Roman", Times, serif;}
.bg {background-color: cornflowerblue;}
/* Bordas  */
.border {
    border-radius: 50%;
    color: rgb(196, 179, 154);
  }
  .boxed {
    border: 1px solid rgb(196, 179, 154) ;
  } 
   /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
} 

html {
  scroll-behavior: smooth;
}
.rowdivertida {
  overflow-x: hidden;
}
.bgama{  background-color: rgb(196, 179, 154); }
.piso{  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://lh6.googleusercontent.com/-vVUWV2J-T7o/TW-JBl68ArI/AAAAAAAAABw/n9kzmZ7gMl8/s1600/file_1262172.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}
.txtcinza{ color: rgb(196, 179, 154);}
.bgpreto{background-color: rgb(63, 63, 63);}
.bgpp{ background-image:  url("https://www.canva.com/design/DAD67sOl0Sc/Fk_AMUnzPhuRr0GgRgnQug/view?utm_content=DAD67sOl0Sc&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;}
  .txtnovo {color: rgb(63, 63, 63) ;}
  .barril{background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.wallpaperflare.com/static/992/914/326/beer-foam-wall-barrels-wallpaper.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;}
   